/*
Jellyfin API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 10.10.2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package jellyfin

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
	"reflect"
)


// UniversalAudioAPIService UniversalAudioAPI service
type UniversalAudioAPIService service

type UniversalAudioAPIGetUniversalAudioStreamRequest struct {
	ctx context.Context
	ApiService *UniversalAudioAPIService
	itemId string
	container *[]string
	mediaSourceId *string
	deviceId *string
	userId *string
	audioCodec *string
	maxAudioChannels *int32
	transcodingAudioChannels *int32
	maxStreamingBitrate *int32
	audioBitRate *int32
	startTimeTicks *int64
	transcodingContainer *string
	transcodingProtocol *JellyfinMediaStreamProtocol
	maxAudioSampleRate *int32
	maxAudioBitDepth *int32
	enableRemoteMedia *bool
	enableAudioVbrEncoding *bool
	breakOnNonKeyFrames *bool
	enableRedirection *bool
}

// Optional. The audio container.
func (r UniversalAudioAPIGetUniversalAudioStreamRequest) Container(container []string) UniversalAudioAPIGetUniversalAudioStreamRequest {
	r.container = &container
	return r
}

// The media version id, if playing an alternate version.
func (r UniversalAudioAPIGetUniversalAudioStreamRequest) MediaSourceId(mediaSourceId string) UniversalAudioAPIGetUniversalAudioStreamRequest {
	r.mediaSourceId = &mediaSourceId
	return r
}

// The device id of the client requesting. Used to stop encoding processes when needed.
func (r UniversalAudioAPIGetUniversalAudioStreamRequest) DeviceId(deviceId string) UniversalAudioAPIGetUniversalAudioStreamRequest {
	r.deviceId = &deviceId
	return r
}

// Optional. The user id.
func (r UniversalAudioAPIGetUniversalAudioStreamRequest) UserId(userId string) UniversalAudioAPIGetUniversalAudioStreamRequest {
	r.userId = &userId
	return r
}

// Optional. The audio codec to transcode to.
func (r UniversalAudioAPIGetUniversalAudioStreamRequest) AudioCodec(audioCodec string) UniversalAudioAPIGetUniversalAudioStreamRequest {
	r.audioCodec = &audioCodec
	return r
}

// Optional. The maximum number of audio channels.
func (r UniversalAudioAPIGetUniversalAudioStreamRequest) MaxAudioChannels(maxAudioChannels int32) UniversalAudioAPIGetUniversalAudioStreamRequest {
	r.maxAudioChannels = &maxAudioChannels
	return r
}

// Optional. The number of how many audio channels to transcode to.
func (r UniversalAudioAPIGetUniversalAudioStreamRequest) TranscodingAudioChannels(transcodingAudioChannels int32) UniversalAudioAPIGetUniversalAudioStreamRequest {
	r.transcodingAudioChannels = &transcodingAudioChannels
	return r
}

// Optional. The maximum streaming bitrate.
func (r UniversalAudioAPIGetUniversalAudioStreamRequest) MaxStreamingBitrate(maxStreamingBitrate int32) UniversalAudioAPIGetUniversalAudioStreamRequest {
	r.maxStreamingBitrate = &maxStreamingBitrate
	return r
}

// Optional. Specify an audio bitrate to encode to, e.g. 128000. If omitted this will be left to encoder defaults.
func (r UniversalAudioAPIGetUniversalAudioStreamRequest) AudioBitRate(audioBitRate int32) UniversalAudioAPIGetUniversalAudioStreamRequest {
	r.audioBitRate = &audioBitRate
	return r
}

// Optional. Specify a starting offset, in ticks. 1 tick &#x3D; 10000 ms.
func (r UniversalAudioAPIGetUniversalAudioStreamRequest) StartTimeTicks(startTimeTicks int64) UniversalAudioAPIGetUniversalAudioStreamRequest {
	r.startTimeTicks = &startTimeTicks
	return r
}

// Optional. The container to transcode to.
func (r UniversalAudioAPIGetUniversalAudioStreamRequest) TranscodingContainer(transcodingContainer string) UniversalAudioAPIGetUniversalAudioStreamRequest {
	r.transcodingContainer = &transcodingContainer
	return r
}

// Optional. The transcoding protocol.
func (r UniversalAudioAPIGetUniversalAudioStreamRequest) TranscodingProtocol(transcodingProtocol JellyfinMediaStreamProtocol) UniversalAudioAPIGetUniversalAudioStreamRequest {
	r.transcodingProtocol = &transcodingProtocol
	return r
}

// Optional. The maximum audio sample rate.
func (r UniversalAudioAPIGetUniversalAudioStreamRequest) MaxAudioSampleRate(maxAudioSampleRate int32) UniversalAudioAPIGetUniversalAudioStreamRequest {
	r.maxAudioSampleRate = &maxAudioSampleRate
	return r
}

// Optional. The maximum audio bit depth.
func (r UniversalAudioAPIGetUniversalAudioStreamRequest) MaxAudioBitDepth(maxAudioBitDepth int32) UniversalAudioAPIGetUniversalAudioStreamRequest {
	r.maxAudioBitDepth = &maxAudioBitDepth
	return r
}

// Optional. Whether to enable remote media.
func (r UniversalAudioAPIGetUniversalAudioStreamRequest) EnableRemoteMedia(enableRemoteMedia bool) UniversalAudioAPIGetUniversalAudioStreamRequest {
	r.enableRemoteMedia = &enableRemoteMedia
	return r
}

// Optional. Whether to enable Audio Encoding.
func (r UniversalAudioAPIGetUniversalAudioStreamRequest) EnableAudioVbrEncoding(enableAudioVbrEncoding bool) UniversalAudioAPIGetUniversalAudioStreamRequest {
	r.enableAudioVbrEncoding = &enableAudioVbrEncoding
	return r
}

// Optional. Whether to break on non key frames.
func (r UniversalAudioAPIGetUniversalAudioStreamRequest) BreakOnNonKeyFrames(breakOnNonKeyFrames bool) UniversalAudioAPIGetUniversalAudioStreamRequest {
	r.breakOnNonKeyFrames = &breakOnNonKeyFrames
	return r
}

// Whether to enable redirection. Defaults to true.
func (r UniversalAudioAPIGetUniversalAudioStreamRequest) EnableRedirection(enableRedirection bool) UniversalAudioAPIGetUniversalAudioStreamRequest {
	r.enableRedirection = &enableRedirection
	return r
}

func (r UniversalAudioAPIGetUniversalAudioStreamRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.GetUniversalAudioStreamExecute(r)
}

/*
GetUniversalAudioStream Gets an audio stream.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param itemId The item id.
 @return UniversalAudioAPIGetUniversalAudioStreamRequest
*/
func (a *UniversalAudioAPIService) GetUniversalAudioStream(ctx context.Context, itemId string) UniversalAudioAPIGetUniversalAudioStreamRequest {
	return UniversalAudioAPIGetUniversalAudioStreamRequest{
		ApiService: a,
		ctx: ctx,
		itemId: itemId,
	}
}

// Execute executes the request
//  @return *os.File
func (a *UniversalAudioAPIService) GetUniversalAudioStreamExecute(r UniversalAudioAPIGetUniversalAudioStreamRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UniversalAudioAPIService.GetUniversalAudioStream")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Audio/{itemId}/universal"
	localVarPath = strings.Replace(localVarPath, "{"+"itemId"+"}", url.PathEscape(parameterValueToString(r.itemId, "itemId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.container != nil {
		t := *r.container
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "container", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "container", t, "form", "multi")
		}
	}
	if r.mediaSourceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mediaSourceId", r.mediaSourceId, "form", "")
	}
	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	}
	if r.audioCodec != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "audioCodec", r.audioCodec, "form", "")
	}
	if r.maxAudioChannels != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxAudioChannels", r.maxAudioChannels, "form", "")
	}
	if r.transcodingAudioChannels != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transcodingAudioChannels", r.transcodingAudioChannels, "form", "")
	}
	if r.maxStreamingBitrate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxStreamingBitrate", r.maxStreamingBitrate, "form", "")
	}
	if r.audioBitRate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "audioBitRate", r.audioBitRate, "form", "")
	}
	if r.startTimeTicks != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startTimeTicks", r.startTimeTicks, "form", "")
	}
	if r.transcodingContainer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transcodingContainer", r.transcodingContainer, "form", "")
	}
	if r.transcodingProtocol != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transcodingProtocol", r.transcodingProtocol, "form", "")
	}
	if r.maxAudioSampleRate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxAudioSampleRate", r.maxAudioSampleRate, "form", "")
	}
	if r.maxAudioBitDepth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxAudioBitDepth", r.maxAudioBitDepth, "form", "")
	}
	if r.enableRemoteMedia != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "enableRemoteMedia", r.enableRemoteMedia, "form", "")
	}
	if r.enableAudioVbrEncoding != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "enableAudioVbrEncoding", r.enableAudioVbrEncoding, "form", "")
	} else {
		var defaultValue bool = true
		r.enableAudioVbrEncoding = &defaultValue
	}
	if r.breakOnNonKeyFrames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "breakOnNonKeyFrames", r.breakOnNonKeyFrames, "form", "")
	} else {
		var defaultValue bool = false
		r.breakOnNonKeyFrames = &defaultValue
	}
	if r.enableRedirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "enableRedirection", r.enableRedirection, "form", "")
	} else {
		var defaultValue bool = true
		r.enableRedirection = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"audio/*", "application/json", "application/json; profile=CamelCase", "application/json; profile=PascalCase"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["CustomAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v JellyfinProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UniversalAudioAPIHeadUniversalAudioStreamRequest struct {
	ctx context.Context
	ApiService *UniversalAudioAPIService
	itemId string
	container *[]string
	mediaSourceId *string
	deviceId *string
	userId *string
	audioCodec *string
	maxAudioChannels *int32
	transcodingAudioChannels *int32
	maxStreamingBitrate *int32
	audioBitRate *int32
	startTimeTicks *int64
	transcodingContainer *string
	transcodingProtocol *JellyfinMediaStreamProtocol
	maxAudioSampleRate *int32
	maxAudioBitDepth *int32
	enableRemoteMedia *bool
	enableAudioVbrEncoding *bool
	breakOnNonKeyFrames *bool
	enableRedirection *bool
}

// Optional. The audio container.
func (r UniversalAudioAPIHeadUniversalAudioStreamRequest) Container(container []string) UniversalAudioAPIHeadUniversalAudioStreamRequest {
	r.container = &container
	return r
}

// The media version id, if playing an alternate version.
func (r UniversalAudioAPIHeadUniversalAudioStreamRequest) MediaSourceId(mediaSourceId string) UniversalAudioAPIHeadUniversalAudioStreamRequest {
	r.mediaSourceId = &mediaSourceId
	return r
}

// The device id of the client requesting. Used to stop encoding processes when needed.
func (r UniversalAudioAPIHeadUniversalAudioStreamRequest) DeviceId(deviceId string) UniversalAudioAPIHeadUniversalAudioStreamRequest {
	r.deviceId = &deviceId
	return r
}

// Optional. The user id.
func (r UniversalAudioAPIHeadUniversalAudioStreamRequest) UserId(userId string) UniversalAudioAPIHeadUniversalAudioStreamRequest {
	r.userId = &userId
	return r
}

// Optional. The audio codec to transcode to.
func (r UniversalAudioAPIHeadUniversalAudioStreamRequest) AudioCodec(audioCodec string) UniversalAudioAPIHeadUniversalAudioStreamRequest {
	r.audioCodec = &audioCodec
	return r
}

// Optional. The maximum number of audio channels.
func (r UniversalAudioAPIHeadUniversalAudioStreamRequest) MaxAudioChannels(maxAudioChannels int32) UniversalAudioAPIHeadUniversalAudioStreamRequest {
	r.maxAudioChannels = &maxAudioChannels
	return r
}

// Optional. The number of how many audio channels to transcode to.
func (r UniversalAudioAPIHeadUniversalAudioStreamRequest) TranscodingAudioChannels(transcodingAudioChannels int32) UniversalAudioAPIHeadUniversalAudioStreamRequest {
	r.transcodingAudioChannels = &transcodingAudioChannels
	return r
}

// Optional. The maximum streaming bitrate.
func (r UniversalAudioAPIHeadUniversalAudioStreamRequest) MaxStreamingBitrate(maxStreamingBitrate int32) UniversalAudioAPIHeadUniversalAudioStreamRequest {
	r.maxStreamingBitrate = &maxStreamingBitrate
	return r
}

// Optional. Specify an audio bitrate to encode to, e.g. 128000. If omitted this will be left to encoder defaults.
func (r UniversalAudioAPIHeadUniversalAudioStreamRequest) AudioBitRate(audioBitRate int32) UniversalAudioAPIHeadUniversalAudioStreamRequest {
	r.audioBitRate = &audioBitRate
	return r
}

// Optional. Specify a starting offset, in ticks. 1 tick &#x3D; 10000 ms.
func (r UniversalAudioAPIHeadUniversalAudioStreamRequest) StartTimeTicks(startTimeTicks int64) UniversalAudioAPIHeadUniversalAudioStreamRequest {
	r.startTimeTicks = &startTimeTicks
	return r
}

// Optional. The container to transcode to.
func (r UniversalAudioAPIHeadUniversalAudioStreamRequest) TranscodingContainer(transcodingContainer string) UniversalAudioAPIHeadUniversalAudioStreamRequest {
	r.transcodingContainer = &transcodingContainer
	return r
}

// Optional. The transcoding protocol.
func (r UniversalAudioAPIHeadUniversalAudioStreamRequest) TranscodingProtocol(transcodingProtocol JellyfinMediaStreamProtocol) UniversalAudioAPIHeadUniversalAudioStreamRequest {
	r.transcodingProtocol = &transcodingProtocol
	return r
}

// Optional. The maximum audio sample rate.
func (r UniversalAudioAPIHeadUniversalAudioStreamRequest) MaxAudioSampleRate(maxAudioSampleRate int32) UniversalAudioAPIHeadUniversalAudioStreamRequest {
	r.maxAudioSampleRate = &maxAudioSampleRate
	return r
}

// Optional. The maximum audio bit depth.
func (r UniversalAudioAPIHeadUniversalAudioStreamRequest) MaxAudioBitDepth(maxAudioBitDepth int32) UniversalAudioAPIHeadUniversalAudioStreamRequest {
	r.maxAudioBitDepth = &maxAudioBitDepth
	return r
}

// Optional. Whether to enable remote media.
func (r UniversalAudioAPIHeadUniversalAudioStreamRequest) EnableRemoteMedia(enableRemoteMedia bool) UniversalAudioAPIHeadUniversalAudioStreamRequest {
	r.enableRemoteMedia = &enableRemoteMedia
	return r
}

// Optional. Whether to enable Audio Encoding.
func (r UniversalAudioAPIHeadUniversalAudioStreamRequest) EnableAudioVbrEncoding(enableAudioVbrEncoding bool) UniversalAudioAPIHeadUniversalAudioStreamRequest {
	r.enableAudioVbrEncoding = &enableAudioVbrEncoding
	return r
}

// Optional. Whether to break on non key frames.
func (r UniversalAudioAPIHeadUniversalAudioStreamRequest) BreakOnNonKeyFrames(breakOnNonKeyFrames bool) UniversalAudioAPIHeadUniversalAudioStreamRequest {
	r.breakOnNonKeyFrames = &breakOnNonKeyFrames
	return r
}

// Whether to enable redirection. Defaults to true.
func (r UniversalAudioAPIHeadUniversalAudioStreamRequest) EnableRedirection(enableRedirection bool) UniversalAudioAPIHeadUniversalAudioStreamRequest {
	r.enableRedirection = &enableRedirection
	return r
}

func (r UniversalAudioAPIHeadUniversalAudioStreamRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.HeadUniversalAudioStreamExecute(r)
}

/*
HeadUniversalAudioStream Gets an audio stream.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param itemId The item id.
 @return UniversalAudioAPIHeadUniversalAudioStreamRequest
*/
func (a *UniversalAudioAPIService) HeadUniversalAudioStream(ctx context.Context, itemId string) UniversalAudioAPIHeadUniversalAudioStreamRequest {
	return UniversalAudioAPIHeadUniversalAudioStreamRequest{
		ApiService: a,
		ctx: ctx,
		itemId: itemId,
	}
}

// Execute executes the request
//  @return *os.File
func (a *UniversalAudioAPIService) HeadUniversalAudioStreamExecute(r UniversalAudioAPIHeadUniversalAudioStreamRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UniversalAudioAPIService.HeadUniversalAudioStream")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Audio/{itemId}/universal"
	localVarPath = strings.Replace(localVarPath, "{"+"itemId"+"}", url.PathEscape(parameterValueToString(r.itemId, "itemId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.container != nil {
		t := *r.container
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "container", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "container", t, "form", "multi")
		}
	}
	if r.mediaSourceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mediaSourceId", r.mediaSourceId, "form", "")
	}
	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	}
	if r.audioCodec != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "audioCodec", r.audioCodec, "form", "")
	}
	if r.maxAudioChannels != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxAudioChannels", r.maxAudioChannels, "form", "")
	}
	if r.transcodingAudioChannels != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transcodingAudioChannels", r.transcodingAudioChannels, "form", "")
	}
	if r.maxStreamingBitrate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxStreamingBitrate", r.maxStreamingBitrate, "form", "")
	}
	if r.audioBitRate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "audioBitRate", r.audioBitRate, "form", "")
	}
	if r.startTimeTicks != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startTimeTicks", r.startTimeTicks, "form", "")
	}
	if r.transcodingContainer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transcodingContainer", r.transcodingContainer, "form", "")
	}
	if r.transcodingProtocol != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transcodingProtocol", r.transcodingProtocol, "form", "")
	}
	if r.maxAudioSampleRate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxAudioSampleRate", r.maxAudioSampleRate, "form", "")
	}
	if r.maxAudioBitDepth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxAudioBitDepth", r.maxAudioBitDepth, "form", "")
	}
	if r.enableRemoteMedia != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "enableRemoteMedia", r.enableRemoteMedia, "form", "")
	}
	if r.enableAudioVbrEncoding != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "enableAudioVbrEncoding", r.enableAudioVbrEncoding, "form", "")
	} else {
		var defaultValue bool = true
		r.enableAudioVbrEncoding = &defaultValue
	}
	if r.breakOnNonKeyFrames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "breakOnNonKeyFrames", r.breakOnNonKeyFrames, "form", "")
	} else {
		var defaultValue bool = false
		r.breakOnNonKeyFrames = &defaultValue
	}
	if r.enableRedirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "enableRedirection", r.enableRedirection, "form", "")
	} else {
		var defaultValue bool = true
		r.enableRedirection = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"audio/*", "application/json", "application/json; profile=CamelCase", "application/json; profile=PascalCase"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["CustomAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v JellyfinProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
