/*
Jellyfin API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 10.10.2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package jellyfin

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
)


// MediaInfoAPIService MediaInfoAPI service
type MediaInfoAPIService service

type MediaInfoAPICloseLiveStreamRequest struct {
	ctx context.Context
	ApiService *MediaInfoAPIService
	liveStreamId *string
}

// The livestream id.
func (r MediaInfoAPICloseLiveStreamRequest) LiveStreamId(liveStreamId string) MediaInfoAPICloseLiveStreamRequest {
	r.liveStreamId = &liveStreamId
	return r
}

func (r MediaInfoAPICloseLiveStreamRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloseLiveStreamExecute(r)
}

/*
CloseLiveStream Closes a media source.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MediaInfoAPICloseLiveStreamRequest
*/
func (a *MediaInfoAPIService) CloseLiveStream(ctx context.Context) MediaInfoAPICloseLiveStreamRequest {
	return MediaInfoAPICloseLiveStreamRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *MediaInfoAPIService) CloseLiveStreamExecute(r MediaInfoAPICloseLiveStreamRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MediaInfoAPIService.CloseLiveStream")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/LiveStreams/Close"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.liveStreamId == nil {
		return nil, reportError("liveStreamId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "liveStreamId", r.liveStreamId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["CustomAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type MediaInfoAPIGetBitrateTestBytesRequest struct {
	ctx context.Context
	ApiService *MediaInfoAPIService
	size *int32
}

// The bitrate. Defaults to 102400.
func (r MediaInfoAPIGetBitrateTestBytesRequest) Size(size int32) MediaInfoAPIGetBitrateTestBytesRequest {
	r.size = &size
	return r
}

func (r MediaInfoAPIGetBitrateTestBytesRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.GetBitrateTestBytesExecute(r)
}

/*
GetBitrateTestBytes Tests the network with a request with the size of the bitrate.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MediaInfoAPIGetBitrateTestBytesRequest
*/
func (a *MediaInfoAPIService) GetBitrateTestBytes(ctx context.Context) MediaInfoAPIGetBitrateTestBytesRequest {
	return MediaInfoAPIGetBitrateTestBytesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return *os.File
func (a *MediaInfoAPIService) GetBitrateTestBytesExecute(r MediaInfoAPIGetBitrateTestBytesRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MediaInfoAPIService.GetBitrateTestBytes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Playback/BitrateTest"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	} else {
		var defaultValue int32 = 102400
		r.size = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/octet-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["CustomAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MediaInfoAPIGetPlaybackInfoRequest struct {
	ctx context.Context
	ApiService *MediaInfoAPIService
	itemId string
	userId *string
}

// The user id.
func (r MediaInfoAPIGetPlaybackInfoRequest) UserId(userId string) MediaInfoAPIGetPlaybackInfoRequest {
	r.userId = &userId
	return r
}

func (r MediaInfoAPIGetPlaybackInfoRequest) Execute() (*JellyfinPlaybackInfoResponse, *http.Response, error) {
	return r.ApiService.GetPlaybackInfoExecute(r)
}

/*
GetPlaybackInfo Gets live playback media info for an item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param itemId The item id.
 @return MediaInfoAPIGetPlaybackInfoRequest
*/
func (a *MediaInfoAPIService) GetPlaybackInfo(ctx context.Context, itemId string) MediaInfoAPIGetPlaybackInfoRequest {
	return MediaInfoAPIGetPlaybackInfoRequest{
		ApiService: a,
		ctx: ctx,
		itemId: itemId,
	}
}

// Execute executes the request
//  @return JellyfinPlaybackInfoResponse
func (a *MediaInfoAPIService) GetPlaybackInfoExecute(r MediaInfoAPIGetPlaybackInfoRequest) (*JellyfinPlaybackInfoResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JellyfinPlaybackInfoResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MediaInfoAPIService.GetPlaybackInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Items/{itemId}/PlaybackInfo"
	localVarPath = strings.Replace(localVarPath, "{"+"itemId"+"}", url.PathEscape(parameterValueToString(r.itemId, "itemId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/json; profile=CamelCase", "application/json; profile=PascalCase"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["CustomAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v JellyfinProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MediaInfoAPIGetPostedPlaybackInfoRequest struct {
	ctx context.Context
	ApiService *MediaInfoAPIService
	itemId string
	userId *string
	maxStreamingBitrate *int32
	startTimeTicks *int64
	audioStreamIndex *int32
	subtitleStreamIndex *int32
	maxAudioChannels *int32
	mediaSourceId *string
	liveStreamId *string
	autoOpenLiveStream *bool
	enableDirectPlay *bool
	enableDirectStream *bool
	enableTranscoding *bool
	allowVideoStreamCopy *bool
	allowAudioStreamCopy *bool
	jellyfinPlaybackInfoDto *JellyfinPlaybackInfoDto
}

// The user id.
// Deprecated
func (r MediaInfoAPIGetPostedPlaybackInfoRequest) UserId(userId string) MediaInfoAPIGetPostedPlaybackInfoRequest {
	r.userId = &userId
	return r
}

// The maximum streaming bitrate.
// Deprecated
func (r MediaInfoAPIGetPostedPlaybackInfoRequest) MaxStreamingBitrate(maxStreamingBitrate int32) MediaInfoAPIGetPostedPlaybackInfoRequest {
	r.maxStreamingBitrate = &maxStreamingBitrate
	return r
}

// The start time in ticks.
// Deprecated
func (r MediaInfoAPIGetPostedPlaybackInfoRequest) StartTimeTicks(startTimeTicks int64) MediaInfoAPIGetPostedPlaybackInfoRequest {
	r.startTimeTicks = &startTimeTicks
	return r
}

// The audio stream index.
// Deprecated
func (r MediaInfoAPIGetPostedPlaybackInfoRequest) AudioStreamIndex(audioStreamIndex int32) MediaInfoAPIGetPostedPlaybackInfoRequest {
	r.audioStreamIndex = &audioStreamIndex
	return r
}

// The subtitle stream index.
// Deprecated
func (r MediaInfoAPIGetPostedPlaybackInfoRequest) SubtitleStreamIndex(subtitleStreamIndex int32) MediaInfoAPIGetPostedPlaybackInfoRequest {
	r.subtitleStreamIndex = &subtitleStreamIndex
	return r
}

// The maximum number of audio channels.
// Deprecated
func (r MediaInfoAPIGetPostedPlaybackInfoRequest) MaxAudioChannels(maxAudioChannels int32) MediaInfoAPIGetPostedPlaybackInfoRequest {
	r.maxAudioChannels = &maxAudioChannels
	return r
}

// The media source id.
// Deprecated
func (r MediaInfoAPIGetPostedPlaybackInfoRequest) MediaSourceId(mediaSourceId string) MediaInfoAPIGetPostedPlaybackInfoRequest {
	r.mediaSourceId = &mediaSourceId
	return r
}

// The livestream id.
// Deprecated
func (r MediaInfoAPIGetPostedPlaybackInfoRequest) LiveStreamId(liveStreamId string) MediaInfoAPIGetPostedPlaybackInfoRequest {
	r.liveStreamId = &liveStreamId
	return r
}

// Whether to auto open the livestream.
// Deprecated
func (r MediaInfoAPIGetPostedPlaybackInfoRequest) AutoOpenLiveStream(autoOpenLiveStream bool) MediaInfoAPIGetPostedPlaybackInfoRequest {
	r.autoOpenLiveStream = &autoOpenLiveStream
	return r
}

// Whether to enable direct play. Default: true.
// Deprecated
func (r MediaInfoAPIGetPostedPlaybackInfoRequest) EnableDirectPlay(enableDirectPlay bool) MediaInfoAPIGetPostedPlaybackInfoRequest {
	r.enableDirectPlay = &enableDirectPlay
	return r
}

// Whether to enable direct stream. Default: true.
// Deprecated
func (r MediaInfoAPIGetPostedPlaybackInfoRequest) EnableDirectStream(enableDirectStream bool) MediaInfoAPIGetPostedPlaybackInfoRequest {
	r.enableDirectStream = &enableDirectStream
	return r
}

// Whether to enable transcoding. Default: true.
// Deprecated
func (r MediaInfoAPIGetPostedPlaybackInfoRequest) EnableTranscoding(enableTranscoding bool) MediaInfoAPIGetPostedPlaybackInfoRequest {
	r.enableTranscoding = &enableTranscoding
	return r
}

// Whether to allow to copy the video stream. Default: true.
// Deprecated
func (r MediaInfoAPIGetPostedPlaybackInfoRequest) AllowVideoStreamCopy(allowVideoStreamCopy bool) MediaInfoAPIGetPostedPlaybackInfoRequest {
	r.allowVideoStreamCopy = &allowVideoStreamCopy
	return r
}

// Whether to allow to copy the audio stream. Default: true.
// Deprecated
func (r MediaInfoAPIGetPostedPlaybackInfoRequest) AllowAudioStreamCopy(allowAudioStreamCopy bool) MediaInfoAPIGetPostedPlaybackInfoRequest {
	r.allowAudioStreamCopy = &allowAudioStreamCopy
	return r
}

// The playback info.
func (r MediaInfoAPIGetPostedPlaybackInfoRequest) JellyfinPlaybackInfoDto(jellyfinPlaybackInfoDto JellyfinPlaybackInfoDto) MediaInfoAPIGetPostedPlaybackInfoRequest {
	r.jellyfinPlaybackInfoDto = &jellyfinPlaybackInfoDto
	return r
}

func (r MediaInfoAPIGetPostedPlaybackInfoRequest) Execute() (*JellyfinPlaybackInfoResponse, *http.Response, error) {
	return r.ApiService.GetPostedPlaybackInfoExecute(r)
}

/*
GetPostedPlaybackInfo Gets live playback media info for an item.

For backwards compatibility parameters can be sent via Query or Body, with Query having higher precedence.
Query parameters are obsolete.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param itemId The item id.
 @return MediaInfoAPIGetPostedPlaybackInfoRequest
*/
func (a *MediaInfoAPIService) GetPostedPlaybackInfo(ctx context.Context, itemId string) MediaInfoAPIGetPostedPlaybackInfoRequest {
	return MediaInfoAPIGetPostedPlaybackInfoRequest{
		ApiService: a,
		ctx: ctx,
		itemId: itemId,
	}
}

// Execute executes the request
//  @return JellyfinPlaybackInfoResponse
func (a *MediaInfoAPIService) GetPostedPlaybackInfoExecute(r MediaInfoAPIGetPostedPlaybackInfoRequest) (*JellyfinPlaybackInfoResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JellyfinPlaybackInfoResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MediaInfoAPIService.GetPostedPlaybackInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Items/{itemId}/PlaybackInfo"
	localVarPath = strings.Replace(localVarPath, "{"+"itemId"+"}", url.PathEscape(parameterValueToString(r.itemId, "itemId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	}
	if r.maxStreamingBitrate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxStreamingBitrate", r.maxStreamingBitrate, "form", "")
	}
	if r.startTimeTicks != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startTimeTicks", r.startTimeTicks, "form", "")
	}
	if r.audioStreamIndex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "audioStreamIndex", r.audioStreamIndex, "form", "")
	}
	if r.subtitleStreamIndex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subtitleStreamIndex", r.subtitleStreamIndex, "form", "")
	}
	if r.maxAudioChannels != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxAudioChannels", r.maxAudioChannels, "form", "")
	}
	if r.mediaSourceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mediaSourceId", r.mediaSourceId, "form", "")
	}
	if r.liveStreamId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "liveStreamId", r.liveStreamId, "form", "")
	}
	if r.autoOpenLiveStream != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "autoOpenLiveStream", r.autoOpenLiveStream, "form", "")
	}
	if r.enableDirectPlay != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "enableDirectPlay", r.enableDirectPlay, "form", "")
	}
	if r.enableDirectStream != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "enableDirectStream", r.enableDirectStream, "form", "")
	}
	if r.enableTranscoding != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "enableTranscoding", r.enableTranscoding, "form", "")
	}
	if r.allowVideoStreamCopy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allowVideoStreamCopy", r.allowVideoStreamCopy, "form", "")
	}
	if r.allowAudioStreamCopy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allowAudioStreamCopy", r.allowAudioStreamCopy, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/json; profile=CamelCase", "application/json; profile=PascalCase"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.jellyfinPlaybackInfoDto
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["CustomAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v JellyfinProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MediaInfoAPIOpenLiveStreamRequest struct {
	ctx context.Context
	ApiService *MediaInfoAPIService
	openToken *string
	userId *string
	playSessionId *string
	maxStreamingBitrate *int32
	startTimeTicks *int64
	audioStreamIndex *int32
	subtitleStreamIndex *int32
	maxAudioChannels *int32
	itemId *string
	enableDirectPlay *bool
	enableDirectStream *bool
	alwaysBurnInSubtitleWhenTranscoding *bool
	jellyfinOpenLiveStreamDto *JellyfinOpenLiveStreamDto
}

// The open token.
func (r MediaInfoAPIOpenLiveStreamRequest) OpenToken(openToken string) MediaInfoAPIOpenLiveStreamRequest {
	r.openToken = &openToken
	return r
}

// The user id.
func (r MediaInfoAPIOpenLiveStreamRequest) UserId(userId string) MediaInfoAPIOpenLiveStreamRequest {
	r.userId = &userId
	return r
}

// The play session id.
func (r MediaInfoAPIOpenLiveStreamRequest) PlaySessionId(playSessionId string) MediaInfoAPIOpenLiveStreamRequest {
	r.playSessionId = &playSessionId
	return r
}

// The maximum streaming bitrate.
func (r MediaInfoAPIOpenLiveStreamRequest) MaxStreamingBitrate(maxStreamingBitrate int32) MediaInfoAPIOpenLiveStreamRequest {
	r.maxStreamingBitrate = &maxStreamingBitrate
	return r
}

// The start time in ticks.
func (r MediaInfoAPIOpenLiveStreamRequest) StartTimeTicks(startTimeTicks int64) MediaInfoAPIOpenLiveStreamRequest {
	r.startTimeTicks = &startTimeTicks
	return r
}

// The audio stream index.
func (r MediaInfoAPIOpenLiveStreamRequest) AudioStreamIndex(audioStreamIndex int32) MediaInfoAPIOpenLiveStreamRequest {
	r.audioStreamIndex = &audioStreamIndex
	return r
}

// The subtitle stream index.
func (r MediaInfoAPIOpenLiveStreamRequest) SubtitleStreamIndex(subtitleStreamIndex int32) MediaInfoAPIOpenLiveStreamRequest {
	r.subtitleStreamIndex = &subtitleStreamIndex
	return r
}

// The maximum number of audio channels.
func (r MediaInfoAPIOpenLiveStreamRequest) MaxAudioChannels(maxAudioChannels int32) MediaInfoAPIOpenLiveStreamRequest {
	r.maxAudioChannels = &maxAudioChannels
	return r
}

// The item id.
func (r MediaInfoAPIOpenLiveStreamRequest) ItemId(itemId string) MediaInfoAPIOpenLiveStreamRequest {
	r.itemId = &itemId
	return r
}

// Whether to enable direct play. Default: true.
func (r MediaInfoAPIOpenLiveStreamRequest) EnableDirectPlay(enableDirectPlay bool) MediaInfoAPIOpenLiveStreamRequest {
	r.enableDirectPlay = &enableDirectPlay
	return r
}

// Whether to enable direct stream. Default: true.
func (r MediaInfoAPIOpenLiveStreamRequest) EnableDirectStream(enableDirectStream bool) MediaInfoAPIOpenLiveStreamRequest {
	r.enableDirectStream = &enableDirectStream
	return r
}

// Always burn-in subtitle when transcoding.
func (r MediaInfoAPIOpenLiveStreamRequest) AlwaysBurnInSubtitleWhenTranscoding(alwaysBurnInSubtitleWhenTranscoding bool) MediaInfoAPIOpenLiveStreamRequest {
	r.alwaysBurnInSubtitleWhenTranscoding = &alwaysBurnInSubtitleWhenTranscoding
	return r
}

// The open live stream dto.
func (r MediaInfoAPIOpenLiveStreamRequest) JellyfinOpenLiveStreamDto(jellyfinOpenLiveStreamDto JellyfinOpenLiveStreamDto) MediaInfoAPIOpenLiveStreamRequest {
	r.jellyfinOpenLiveStreamDto = &jellyfinOpenLiveStreamDto
	return r
}

func (r MediaInfoAPIOpenLiveStreamRequest) Execute() (*JellyfinLiveStreamResponse, *http.Response, error) {
	return r.ApiService.OpenLiveStreamExecute(r)
}

/*
OpenLiveStream Opens a media source.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MediaInfoAPIOpenLiveStreamRequest
*/
func (a *MediaInfoAPIService) OpenLiveStream(ctx context.Context) MediaInfoAPIOpenLiveStreamRequest {
	return MediaInfoAPIOpenLiveStreamRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return JellyfinLiveStreamResponse
func (a *MediaInfoAPIService) OpenLiveStreamExecute(r MediaInfoAPIOpenLiveStreamRequest) (*JellyfinLiveStreamResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JellyfinLiveStreamResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MediaInfoAPIService.OpenLiveStream")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/LiveStreams/Open"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.openToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "openToken", r.openToken, "form", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	}
	if r.playSessionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "playSessionId", r.playSessionId, "form", "")
	}
	if r.maxStreamingBitrate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxStreamingBitrate", r.maxStreamingBitrate, "form", "")
	}
	if r.startTimeTicks != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startTimeTicks", r.startTimeTicks, "form", "")
	}
	if r.audioStreamIndex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "audioStreamIndex", r.audioStreamIndex, "form", "")
	}
	if r.subtitleStreamIndex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subtitleStreamIndex", r.subtitleStreamIndex, "form", "")
	}
	if r.maxAudioChannels != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxAudioChannels", r.maxAudioChannels, "form", "")
	}
	if r.itemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	}
	if r.enableDirectPlay != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "enableDirectPlay", r.enableDirectPlay, "form", "")
	}
	if r.enableDirectStream != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "enableDirectStream", r.enableDirectStream, "form", "")
	}
	if r.alwaysBurnInSubtitleWhenTranscoding != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "alwaysBurnInSubtitleWhenTranscoding", r.alwaysBurnInSubtitleWhenTranscoding, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/json; profile=CamelCase", "application/json; profile=PascalCase"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.jellyfinOpenLiveStreamDto
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["CustomAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
